<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.9.2" targetFramework="net452" />
  <package id="EventStore.Client.Embedded" version="3.9.2" targetFramework="net452" />
  <package id="fo-dicom.Core" version="2.0.2" targetFramework="net452" />
  <package id="fo-dicom.Legacy" version="2.0.2" targetFramework="net452" />
  <package id="fo-dicom.Platform" version="2.0.2" targetFramework="net452" />
  <package id="Greylock" version="0.6.6571.37307" targetFramework="net452" />
  <package id="log4net" version="2.0.7" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx.Dataflow" version="3.0.0" targetFramework="net452" />
  <package id="Nito.AsyncEx.DataflowProxy" version="1.1.0" targetFramework="net452" />
  <package id="NLog" version="4.3.10" targetFramework="net452" />
  <package id="NMath" version="6.2.0.1" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="3.4.3" targetFramework="net452" developmentDependency="true" />
  <package id="OpenCvSharp3-AnyCPU" version="3.3.1.20171117" targetFramework="net462" />
  <package id="ReactiveDomain" version="0.7.6571.37066" targetFramework="net452" />
  <package id="reactiveui" version="7.4.0" targetFramework="net452" />
  <package id="reactiveui-core" version="7.4.0" targetFramework="net452" />
  <package id="reactiveui-events" version="6.5.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net452" />
  <package id="SciChart" version="4.2.5.10481" targetFramework="net462" />
  <package id="SharpDX" version="2.5.0" targetFramework="net452" />
  <package id="SharpDX.D3DCompiler" version="2.5.0" targetFramework="net452" />
  <package id="SharpDX.Direct3D10" version="2.5.0" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="2.5.0" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="2.5.0" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
  <package id="UI.for.Wpf.45.Xaml" version="2016.3.1024" targetFramework="net452" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net452" />
</packages>